<template>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-brand">SnapfileX</div>
        </div>
    </nav>
</template>
<script></script>
<style></style>