<template>
    <div id="app">
        <p>你文件的临时寄存处，下后即焚</p>

        <dropzone id="myVueDropzone"
                  v-on:vdropzone-success="showSuccess"
                  ref="myDropzone"
                  :url="url"
                  :language="langForDropzone"
                  :maxFileSizeInMB="maxFileSizeInMB"
                  :maxNumberOfFiles="maxNumberOfFiles"
                  :showRemoveLink="showRemoveLink"
                  :timeout="timeoutInMilliSeconds"
                  @vdropzone-drop="drop"
                  @vdropzone-drag-end="dragEnd"
                  @vdropzone-files-added="cleanBox">

            <!-- Optional parameters if any! -->
            <input type="hidden" name="token" value="xxx">
        </dropzone>

        <div>
            <span>{{desc}}</span>
        </div>
    </div>
</template>

<script>
    import Dropzone from 'vue2-dropzone'

    export default {
        name: 'MainApp',
        data: function () {
            return {
                desc: "",
                //url: "http://localhost:8081/send",
                url: "http://api.snapfilex.com/send",
                langForDropzone: {
                    "dictDefaultMessage" : "将文件拖至此处 或 点击上传"
                },
                maxFileSizeInMB: 512,
                maxNumberOfFiles: 10,
                showRemoveLink: false,
                timeoutInMilliSeconds: 1000 * 60 * 5
            }
        },
        components: {
            dropzone: Dropzone
        },
        methods: {
            showSuccess(file, response) {
                console.log('A file was successfully uploaded')
                console.log(response)
                this.desc = response.desc
            },
            cleanBox(){
                console.log("cleanBox fired")
                //this.$refs.myDropzone.removeAllFiles()
            },
            drop(){
                console.log("drop fired")
            },
            dragEnd(){
                console.log("dragEnd fired")
            }
        }
    }
</script>
