<template>
    <div class="container">
        <app-header></app-header>
        <my-drop></my-drop>
    </div>
</template>

<script>
    import MyDrop from "./components/MyDrop.vue";
    import AppHeader from './components/AppHeader.vue'

    export default {
        components: {
            myDrop: MyDrop,
            appHeader: AppHeader
        }
    }
</script>

<style>
    body {
        padding: 30px;
    }
</style>
